html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

i {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
 * Animation
 */

@-webkit-keyframes rotateAnimation {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    font-size: 0px;
  }
  50% {
    background: #2e3d49;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    font-size: 0px;
  }
  51% {
    background: #02b3e4;
    font-size: 33px;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: #02b3e4;
    font-size: 33px;
  }
}

@keyframes rotateAnimation {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    font-size: 0px;
  }
  50% {
    background: #2e3d49;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    font-size: 0px;
  }
  51% {
    background: #02b3e4;
    font-size: 33px;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: #02b3e4;
    font-size: 33px;
  }
}

@-webkit-keyframes closeCard {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: #02b3e4;
    font-size: 33px;
  }
  50% {
    background: #02b3e4;
    font-size: 33px;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  51% {
    background: #2e3d49;
    font-size: 0px;
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    font-size: 0px;
  }
}

@keyframes closeCard {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: #02b3e4;
    font-size: 33px;
  }
  50% {
    background: #02b3e4;
    font-size: 33px;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  51% {
    background: #2e3d49;
    font-size: 0px;
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    font-size: 0px;
  }
}

@-webkit-keyframes correctCard {
  0% {
    background: #02b3e4;
  }
  45% {
    background: white;
  }
  55% {
    background: white;
  }
  100% {
    background: #02ccba;
  }
}

@keyframes correctCard {
  0% {
    background: #02b3e4;
  }
  45% {
    background: white;
  }
  55% {
    background: white;
  }
  100% {
    background: #02ccba;
  }
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 3em;
  -webkit-perspective: 1400px;
  perspective: 1400px;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  cursor: default;
  -webkit-animation: rotateAnimation 0.8s linear forwards;
  animation: rotateAnimation 0.8s linear forwards;
}

.deck .card.close {
  font-size: 33px;
  -webkit-animation: closeCard 0.8s linear forwards;
  animation: closeCard 0.8s linear forwards;
}

.deck .card.match {
  cursor: default;
  font-size: 33px;
  -webkit-animation: correctCard 0.6s ease-in-out forwards;
  animation: correctCard 0.6s ease-in-out forwards;
}

.deck.finished {
  opacity: 0.5;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

/*
 * Styles for the Finish panel
 */

.finishPanel {
  height: 400px;
  width: 400px;
  background: linear-gradient(160deg, grey 0%, #aa7ecd 100%);
  position: relative;
  margin-top: -580px;
  text-align: center;
  border: 2px solid rgba(200, 200, 200, 0.7);
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 0px 124px 24px rgba(022, 233, 228, 0.88);
  box-shadow: inset 0px 0px 124px 24px rgba(022, 233, 228, 0.88);
  padding: 100px 30px;
}

.tryAgainButton {
  font-family: 'Inconsolata', monospace;
  width: 140px;
  height: 60px;
  border-radius: 40px;
  background: linear-gradient(160deg, #aa7ecd 0%, #02ccba 100%);
  font-size: 1.3em;
  opacity: 0.7;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.tryAgainButton:hover {
  opacity: 1;
  color: white;
}

.finishPanelText {
  font-family: 'Inconsolata', monospace;
  color: white;
  font-size: 1.3em;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

.score-panel .timer {
  display: inline-block;
  margin-left: 120px;
}

@media screen and (max-width: 660px) {
  .deck {
    width: 90vw;
    min-height: 100vw;
    padding: 5vw;
  }

  .deck .card {
    width: 18vw;
    height: 18vw;
  }

  .score-panel {
    max-width: 90vw;
    font-size: 1.2em!important;
  }

  .score-panel .timer {
    margin-left: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .score-panel {
    width: 500px;
    font-size: 2em;
  }
}
